<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{{ site.baseurl }}">IT Talent Guide</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      {% for category in site.categories %}
        {% capture category_name %}{{ category | first }}{% endcapture %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{category_name}}</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            {% for post in site.categories[category_name] %}
              <a class="dropdown-item" href="{{ site.baseurl }}{{ post.url }}">{{post.title}}</a>
            {% endfor %}
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
  <a href="https://github.com/ITTalentEstonia/guide_ee_ru">
    <img src="{{ absolute_url }}/assets/img/gh_logo.png"/>
  </a>
</nav>
